[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = "*"
psycopg2 = "*"
python-multipart = "*"
jinja2 = "*"
aiofiles = "*"
requests = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
db = "docker-compose up -d db"
docker-stop = "docker-compose down"
start = "cd app && uvicorn main:app --reload"
