{% extends 'index.html' %}


{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Antrian</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Antrian</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          {% for antrian in antrian_atas %}
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-{{ antrian.color }}">
              <div class="row justify-content-center">
                <h1>{{ antrian.nama_poli }}</h1>
              </div>
              <div class="row justify-content-center">
                {% if antrian.antrian[0] %}
                  <h1 class="nomor-antrian col-12 text-center">{{ antrian.antrian[0].no_antrian }}</h1>
                  <h1>{{ antrian.antrian[0].pasien.nama }}</h1>
                {% else %}
                <h1 class="display-1">Kosong</h1>
                {% endif %}
              </div>
            </div>
              <div class="card bg-{{ antrian.color }}">
                <div class="card-header d-flex justify-content-between">
                  <h3 class="card-title">Antrian Selanjutnya</h3>
                  <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-sm">
                    <tbody>
                      {% if antrian.antrian|length != 1 and antrian.antrian|length != 0 %}
                      {% for queue in antrian.antrian %}
                      {% if loop.index != 1 %}
                      <tr>
                        <td class='d-flex justify-content-between'>
                          <h1 class="text-left">{{ queue.no_antrian }}.</h1>
                          <h1 class="text-right">{{ queue.pasien.nama  }}</h1>
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                      {% else %}
                      <tr>
                        <td>
                          <h1 class="text-center">Tidak Ada</h1>
                        </td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
          {% endfor %}
        </div>
        <!-- row -->
        <div class="row justify-content-center">
          {% for antrian in antrian_bawah %}
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-{{antrian.color}}">
              <div class="row justify-content-center">
                <h1>{{ antrian.nama_poli }}</h1>
              </div>
              <div class="row justify-content-center">
                {% if antrian.antrian[0] %}
                  <h1 class="nomor-antrian col-12 text-center">{{ antrian.antrian[0].no_antrian }}</h1>
                  <h1>{{ antrian.antrian[0].pasien.nama }}</h1>
                {% else %}
                <h1 class="display-1">Kosong</h1>
                {% endif %}
              </div>
            </div>
            <div class="card bg-{{ antrian.color }}">
              <div class="card-header d-flex justify-content-between">
                <h3 class="card-title">Antrian Selanjutnya</h3>
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-sm">
                  <tbody>
                    {% for queue in antrian.antrian %}
                      {% if loop.index != 1 %}
                        <tr>
                          <td class='d-flex justify-content-between'>
                            <h1 class="text-left">{{ queue.no_antrian }}.</h1>
                            <h1 class="text-right">{{ queue.pasien.nama  }}</h1>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- ./col -->
          {% endfor %}
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">

          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">

          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}