{% extends 'index.html' %}


{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Rekam Medis</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Rekam Medis</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"><i class="fa fa-user-circle" aria-hidden="true"></i> Profil Pasien</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="h4"><strong>Nama:</strong></div>
                    <div class="h5">{{ pasien.nama }}</div>
                    <hr>
                    <div class="h4"><strong>Alamat:</strong></div>
                    <div class="h5">{{ pasien.alamat }}</div>
                    <hr>
                    <div class="h4"><strong>No Telp:</strong></div>
                    <div class="h5">{{ pasien.no_hp }}</div>
                    <hr>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="h4"><strong>Tempat Tanggal Lahir:</strong></div>
                    <div class="h5">{{ pasien.tempat_lahir }}, {{ pasien.tanggal_lahir}}</div>
                    <hr>
                    <div class="h4"><strong>Pengguna BPJS:</strong></div>
                    <div class="h5">
                    {% if pasien.bpjs %}
                    Ya
                    {% else %}
                    Tidak
                    {% endif %}
                      </div>
                      <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Keluhan</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action='/rekam-medis/{{ pasien_id }}?antrian_id={{ pasien.antrian_aktif[0].id }}' method='post'>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-lg-12">
                      <div class="form-group">
                        <textarea type="text" class="form-control" row="4" name="keluhan" placeholder="Tambah keluhan"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <div class="col-lg-12 col-12">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title"><i class="fa fa-list" aria-hidden="true"></i> Daftar Rekam Medis</h2>
                <div class="float-right">
                  <button class="btn btn-success"><i class="fa fa-file-excel" aria-hidden="true"></i> Excel</button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Keluhan</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if rekam_medis.detail %}
                    <tr>
                      <td colspan="2" class='text-center'>
                        no data
                      </td>
                    </tr>
                    {% else %}
                      {% for rm in rekam_medis %}
                      <tr colspan="3">
                        <td>{{ loop.index }}</td>
                        <td>{{ rm.keluhan }}</td>
                      </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}


{% block addscript %}
<script>
  $("#button-export").click(() => {
    $("#dokter-table").table2excel({
      exclude: ".noExport",
      filename: "excel_sheet-name.xls"
    });
  })
</script>
{% endblock addscript %}