{% extends 'index.html' %}


{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Rekam Medis</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Rekam Medis</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Keluhan</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action='/rekam-medis/{{ pasien_id }}' method='post'>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-lg-12">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Keluhan</label>
                        <textarea type="text" class="form-control" row="4" name="keluhan" placeholder="Tambah keluhan"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <div class="col-lg-12 col-12">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title">Daftar Rekam Medis</h2>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Keluhan</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if rekam_medis.detail %}
                    <tr>
                      <td colspan="2" class='text-center'>
                        no data
                      </td>
                    </tr>
                    {% else %}
                      {% for rm in rekam_medis %}
                      <tr colspan="3">
                        <td>{{ loop.index }}</td>
                        <td>{{ rm.keluhan }}</td>
                      </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-tools mt-2 ml-4">
                <ul class="pagination pagination-sm">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}