{% extends 'pages/admin/user.html' %}


{% block id_table %}
'pasien-table','pasien'
{% endblock id_table %}

{% block input_form %}
{% if user.is_admin %}

<div class="col-12 col-lg-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add {{ nama }}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
  <form role="form" action="/admin/pasien" method="post">
  <div class="card-body">
  <div class="row">
    <div class="col-6 col-lg-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Nama {{ nama }}</label>
        <input type="text" class="form-control" name="nama" placeholder="Masukan Nama"">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Alamat</label>
        <textarea type="text" class="form-control" row="3" name="alamat" placeholder="Masukan Alamat"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">No telp</label>
        <input type="number" class="form-control" name="no_hp" placeholder="Masukan No Telp"">
      </div>
    </div>
      <div class="col-6 col-lg-6">
      <label for="exampleInputEmail1">Tempat Tanggal Lahir</label>
        <div class="row">
          <div class="form-group col-6 col-lg-6">
            <input type="text" class="form-control" name="tempat_lahir" placeholder="Masukan Tempat Lahir">
          </div>
          <div class="form-group col-6 col-lg-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
              </div>
              <input type="text" class="form-control" data-inputmask-alias="datetime" name='tanggal_lahir' data-inputmask-inputformat="yyyy-mm-dd" data-mask>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">RFID</label>
          <input type="text" class="form-control" name="rfid" {% if rfid.aktif %}
          value="{{ rfid.rfid }}"
          {% else %}
          placeholder="Silahkan Tap Kartu"
          {% endif %}
            readonly>
        </div>
        <div class="form-group">
          <label>BPJS</label>
          <select class="form-control" name="bpjs">
            <option value=1>Pakai</option>
            <option value=0>Tidak Pakai</option>
          </select>
        </div>
      </div>
  </div>
  
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>
<!-- /.card -->
</div>
{% endif %}
{% endblock input_form %}


{% block table_list %}
<div class="card-body p-0">
  <table class="table" id="pasien-table">
    <thead>
      <tr>
        <th style="width: 10px">#</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>TTL</th>
        <th>No Telp</th>
        <th>BPJS</th>
        <th class="noExport">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if pasien_list.detail %}
        <tr>
          <td colspan="5" class="text-center">no data</td>
        </tr>
      {% else %}
      {% for pasien in pasien_list %}
        <tr>
          <td>{{loop.index}}.</td>
          <td>{{pasien.nama}}</td>
          <td>{{pasien.alamat}}</td>
          <td>{{pasien.tempat_lahir}}, {{pasien.tanggal_lahir}}</td>
          <td>{{pasien.no_hp}}</td>
          {% if pasien.bpjs %}
            <td class="d-none">Pakai</td>
            <td class="noExport"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
          {% else %}
            <td class="d-none">Tidak</td>
            <td class="noExport"><i class="fa fa-times-circle" aria-hidden="true"></i></td>
          {% endif %}
          <td class="noExport">
            {% if user.dokter %}
              <a href="/rekam-medis/{{ pasien.id }}" class="badge bg-primary"><i class="fa fa-eye" aria-hidden="true"></i> lihat</a>
            {% endif %}
            <a href="/admin/pasien/edit/{{ pasien_id }}" class="badge bg-secondary">
              <i class="fa fa-paint-brush" aria-hidden="true"></i>
               edit
            </a>
            <a href="/admin/pasien/delete/{{ pasien.id }}" class="badge bg-danger">
              <i class="fa fa-trash" aria-hidden="true"></i>
               delete
            </a>
          </td>
        </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block addscript %}
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<script src="{{ url_for('static', path='plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', path='plugins/inputmask/min/jquery.inputmask.bundle.min.js') }}"></script>
<script>
  $(function () {
    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('yyyy-mm-dd', { 'placeholder': 'yyyy-mm-dd' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

  })
  $("#button-export").click(() => {
    $("#pasien-table").table2excel({
      exclude: ".noExport",
      filename: "excel_sheet-name.xls"
    });
  })
</script>

{% endblock addscript %}