{% extends 'index.html' %}


{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">
              {% block header_text %}
                Management User
              {% endblock header_text %}
            </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              {% block breadcrumb %}
                <li class="breadcrumb-item">User Management</li>
                <li class="breadcrumb-item active">{{ nama }}</li>
              {% endblock breadcrumb %}
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
        {% block success_alert %}
        {% if success %}
          <div class="alert alert-success">{{ success }}</div>
        {% endif %}
        {% endblock success_alert %}
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          {% block input_form %}
          <div class="col-12 col-lg-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add {{ nama }}</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action='/admin/dokter' method='post'>
                <div class="card-body">
                  <div class="col-12 col-lg-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="email" class="form-control" name="username" placeholder="Masukan email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 col-lg-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nama {{ nama }}</label>
                        <input type="text" class="form-control" name="nama" placeholder="Masukan Nama"">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Alamat</label>
                        <textarea type="text" class="form-control" row="3" name="alamat" placeholder="Masukan Alamat"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">No telp</label>
                        <input type="number" class="form-control" name="no_hp" placeholder="Masukan No Telp"">
                      </div>
                    </div>
                      <div class="col-6 col-lg-6">
                      <label for="exampleInputEmail1">Tempat Tanggal Lahir</label>
                        <div class="row">
                          <div class="form-group col-6 col-lg-6">
                            <input type="text" class="form-control" name="tempat_lahir" placeholder="Masukan Tempat Lahir">
                          </div>
                          <div class="form-group col-6 col-lg-6">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                              </div>
                              <input type="text" class="form-control" data-inputmask-alias="datetime" name='tanggal_lahir' data-inputmask-inputformat="yyyy-mm-dd" data-mask>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Poli</label>
                          <select class="form-control" name="poli">
                            <option value="">-</option>
                            <option value="Poli Umum">Poli Umum</option>
                            <option value="Poli Gigi">Poli Gigi</option>
                            <option value="Poli Penyakit Dalam">Poli Penyakit Dalam</option>
                            <option value="Poli Anak">Poli Anak</option>
                            <option value="Poli Kandungan">Poli Kandungan</option>
                          </select>
                        </div>
                      </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          {% endblock input_form %}
          <div class="col-lg-12 col-12">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title"><i class="fa fa-list" aria-hidden="true"></i> Daftar {{ nama }}</h2>
                <div class="float-right">
                  <button class="btn btn-success" id="button-export"><i class="fa fa-file-excel" aria-hidden="true"></i> Excel</button>
                </div>
              </div>
              <!-- /.card-header -->
              {% block table_list %}
              <div class="card-body p-0">
                <table class="table" id="dokter-table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Nama</th>
                      <th>Email</th>
                      <th>Alamat</th>
                      <th>No Telp</th>
                      <th>Poli</th>
                      <th class='noExport'>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if dokter_list.detail %}
                     <tr>
                       <td colspan="6" class="text-center">no data</td>
                     </tr>
                    {% else %}
                    {% for dokter in dokter_list %}
                    <tr>
                      <td>{{loop.index}}.</td>
                      <td>{{dokter.nama}}</td>
                      <td>{{dokter.user.username }}</td>
                      <td>{{dokter.alamat}}</td>
                      <td>{{dokter.no_hp}}</td>
                      <td>{{dokter.poli}}</td>
                      <td class="noExport"><a href="#" class="badge bg-danger">delete</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
              {% endblock table_list %}
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}


{% block addscript %}
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<script src="{{ url_for('static', path='plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', path='plugins/inputmask/min/jquery.inputmask.bundle.min.js') }}"></script>
<script>
  $(function () {
    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('yyyy-mm-dd', { 'placeholder': 'yyyy-mm-dd' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

  })
  $("#button-export").click(() => {
    $("#dokter-table").table2excel({
      exclude: ".noExport",
      filename: "excel_sheet-name.xls"
    });
  })
</script>

{% endblock addscript %}